* , *::before , *::after{
margin: 0;
padding: 0;

}

body{
box-sizing: border-box !important;

}

a{
    text-decoration: none !important;
    list-style-type: none !important;
    color: black !important;
}


/* .row{
    height: 100vh;
} */

.sections-header{
    font-size: 100px;
    font-weight: bold;
    padding: 10px;
}

@media (max-width:991px){

.sections-header{
font-size: 80px;

}



}